{%extends "layout/header.html"%}
{%block content%}
<div class="row">
<div class="col s6">
   <br><br>
   <a href="/iamnotsafe" id="safelist" class="btn wave  green darken-3" style="width:100%;margin-bottom: 20px;">Alert SafeList</a>
   <!--<a href="" id="everyone" class="btn wave amber darken-2" style="width:100%; margin-bottom: 20px;">Alert Everyone around 500m</a> -->
   <a href="tel: 100" id="emergency" class="btn wave  red darken-3" style="width:100%; margin-bottom: 20px;">Emergency</a>
</div>
<div class="col s6">
<div id="googleMap" style="width:100%;min-height:500px;"></div>
<button id="getlocation" class="btn wave" style="width:100%;margin-top: 20px;">Get Location</button>
</div>
</div>

{%endblock%}